body{
 
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    line-height: 1.5;

}
.container {
  position: relative;
  background-color: black;
  width: 100%;
  width: 406px;
  overflow: hidden;
  
}
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  display: block;
  unicode-bidi: isolate;
} 